body {
  margin: 0;
  padding: 0;
  background-color:#333333;
}
#container{
  position:absolute;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  place-items: center;
}

#game-container {
  position: relative;
  width: 800px;
  height: 600px;
  background-color:#0a062c;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-wrap: wrap;
}
#top-site-text, #player-hands {
  position:relative;
  left: 0;
  top: 0;
  width:100%;
  height: 50%;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-wrap: wrap;
  font-family: font;
  flex-direction: column;
  gap: 30px;
  color:#19b1db;
  text-shadow: 0 0 20px #19b1db;
  font-size: 26px;
}
#top-site-text button {
  font-size: 20px;
  font-family: font;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  background-color:transparent;
  border: 2px solid #19b1db;
  color:white;
  transition: 500ms;
  cursor: pointer;
}
#top-site-text button:hover {
  background-color:#19b1db;
}
#player-hands img {
  width: 100px;
  transform: rotateX(-180deg);
}
#player-hands img:nth-child(2){
  transform: rotate(-180deg);
}
#player-hands{
  flex-direction: row;
  gap: 50px;
}
#player-hands i {
  font-size: 60px;
  animation: rotateArrow 2s infinite alternate;
}

@keyframes rotateArrow {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@font-face {
  font-family: font;
  src: url(../IRANSansDN-Bold.ttf);
}